@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@theme {
  --font-poppins: "Poppins", "sans-serif";

  /* primary colors */
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;

  /* neutrals */
  --color-neutrals-50: #e5f7ff;
  --color-neutrals-100: #b8ced9;
  --color-neutrals-200: #8d9da6;
  --color-neutrals-300: #8da8ad;
  --color-neutrals-400: #677b80;
  --color-neutrals-500: #555669;
  --color-neutrals-600: #404c4f;
  --color-neutrals-700: #2c3436;
  --color-neutrals-800: #171b1c;
  --color-neutrals-900: #0b0d0e;

  /* Text colors */
  --color-text-primary: #e5f7ff;
  --color-text-secondary: #b8ced9;
  --color-text-tertiary: #8d9da6;
  --color-text-disabled: #555669;
  --color-text-inversed: #0b0d0e;
  --color-text-link: #38bdf8;
  --color-text-error: #ff3b44;
  --color-text-success: #4ade80;
  --color-text-warning: #facc15;

  /* Surface colors */
  --color-surface: #0b0d0e;
  --color-surface-2: #171b1c;
  --color-surface-3: #2c3436;
  --color-surface-4: #404c4f;
  --color-surface-5: #555669;
  --color-surface-invert: #f0f9ff;
}
html {
  font-family: "Poppins", Arial;
}

/* utility classes */
.button-hug {
  color: var(--color-text-primary);
  background: var(--color-primary-500);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 16px;
  height: fit-content;
}
.button-fill {
  width: 100%;
  color: var(--color-text-primary);
  background: var(--color-primary-500);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 16px;
  height: fit-content;
}
.button-outline {
  width: 100%;
  color: var(--color-text-primary);
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 16px;
  height: fit-content;
  border: 1px, solid, var(--color-primary-400);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.error-border {
  border-color: var(--color-text-error);
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 16px;
  /* margin: 0 auto; */
}
